@charset "UTF-8";
.article {
  /* Сброс стилей для <pre> и <code> */
  /* Стили для <code> внутри <pre> */
}
.article__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.article__container {
  max-width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.article__body {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.article__link-back {
  display: inline-flex;
  align-items: center;
  padding-left: 40px;
  margin-bottom: 15px;
  background-size: 20px;
  background-image: url(../../../assets/icons/left-arrow-first.svg);
  background-repeat: no-repeat;
  background-position: left center;
  transition: all 0.33s;
  color: var(--accent-color);
  font-size: var(--text-size-small);
  line-height: 1.5;
}
.article__link-back:hover {
  color: var(--accent-hover-color);
  background-image: url(../../../assets/icons/left-arrow-second.svg);
}
.article__heading {
  padding-bottom: 15px;
  font-size: var(--text-size-title);
  text-transform: uppercase;
}
.article__description {
  font-size: var(--text-size-middle);
  padding-bottom: 30px;
  word-wrap: break-word;
}
.article__header-info {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 15px;
}
.article__span-author {
  font-size: var(--text-size-small);
}
.article__span-date {
  font-size: var(--text-size-small);
}
.article__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  overflow-wrap: break-word; /* Убедитесь, что слова переносятся */
  -webkit-hyphens: auto;
          hyphens: auto; /* Автоматический перенос слов */
  white-space: normal; /* Разрешить перенос строк */
}
.article__title {
  max-width: 100%;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
  white-space: normal;
}
.article__subtitle {
  font-size: var(--third-title-size);
  color: var(--white-color);
  padding-bottom: 15px;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
  white-space: normal;
}
.article__text {
  max-width: 100%;
  color: var(--white-color);
  font-size: var(--text-size-small);
  padding-bottom: 15px;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
  white-space: normal;
}
.article__code {
  all: unset; /* Сбрасываем все стили */
}
.article__code code {
  all: unset; /* Сбрасываем все стили */
}
.article__code {
  padding-bottom: 15px;
  max-width: 100%; /* Устанавливаем максимальную ширину в пределах родителя */
  overflow-x: auto; /* Включаем горизонтальный скролл, если содержимое больше ширины блока */
  padding: 10px; /* Внутренний отступ для эстетики */
  border-radius: 5px; /* Скругляем углы */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавляем лёгкую тень */
}
.article__code code {
  display: block; /* Код занимает всю ширину блока */
  font-family: monospace; /* Шрифт для кода */
  font-size: 14px; /* Размер шрифта */
  line-height: 1.5; /* Межстрочный интервал */
  color: #333; /* Цвет текста */
  white-space: pre; /* Сохраняем форматирование кода */
}
.article__link {
  color: var(--white-color);
  transition: all 0.4s;
  word-wrap: break-word;
}
.article__link:hover {
  color: var(--accent-color);
}
.article__img {
  width: 1000px;
  height: 562.5px;
}
.article__popup {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.article__popup-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.article__popup-close:hover, .article__popup-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.article__popup-img {
  margin: auto;
  display: block;
  width: 80%;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 1024px) {
  .article__img {
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=article.css.map */