.footer {
  padding: 15px 0px 15px 0px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-family: var(--title-font-family);
    font-size: var(--text-size-big);
  }
  &__menu {
  }
  &__menu-items {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__menu-item {
  }
  &__menu-item-link {
    font-size: var(--text-size-middle);
  }
  &__social {
  }
  &__social-link {
  }
  &__copyright {
  }
}

@media (max-width: 320px) {
  .footer {
    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 15px;
    }
  }
}
