.header {
  padding: 15px 0px 15px 0px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-family: var(--title-font-family);
    font-size: var(--text-size-big);
  }
  &__menu {
  }
  &__menu-items {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__menu-item {
    width: fit-content;
    position: relative;
    white-space: nowrap;
  }
  &__menu-item-link {
    font-size: var(--text-size-middle);
  }
  &__menu-item-span {
    font-size: var(--text-size-middle);
    cursor: pointer;
  }
  &__menu-submenu {
    padding: 10px 0px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    visibility: inherit;
    opacity: 0;
    transition: all 0.33s;
    z-index: 999;
  }
  &__menu-submenu.active {
    padding: 10px;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    background-color: var(--third-color);
    border-radius: 10px;
  }
  &__menu-submenu-item {
    font-size: var(--text-size-middle);
    cursor: pointer;
  }
  &__menu-submenu-link {
    font-size: var(--text-size-middle);
  }
  &__menu-submenu-btn {
    font-size: var(--text-size-middle);
    color: var(--white-color);
    cursor: pointer;
  }
}
